
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p align="center"><%= f.label :email %></p><br />
    <%= @user.email %>
  </div>

  <div class="field">
    <%= @user.password %>

  <div class="field">
    <%= f.label :"Tu foto" %><br />
    <%= @user.image %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<%= render "devise/shared/links" %>
<%if current user%>