<%= form_with(model: postulant) do |form| %>
  <% if postulant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(postulant.errors.count, "error") %> prohibited this postulant from being saved:</h2>

      <ul>
        <% postulant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :offer_id, style: "display: block" %>
    <%= form.text_field :offer_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
