<div id="<%= dom_id postulant %>">
  <p>
    <strong>Description:</strong>
    <%= postulant.description %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= postulant.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= postulant.user_id %>
  </p>

  <p>
    <strong>Offer:</strong>
    <%= postulant.offer_id %>
  </p>

</div>
